<div class="container">
    <div class="row">
        <div class="col-sm">
            <a routerLink="/employees" role="button" class="btn btn-outline-primary btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>Employees
            </a>
        </div>
        <div class="col-sm">
            <a routerLink="/professions" role="button" class="btn btn-outline-primary btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>Professions
            </a>
        </div>
        <div class="col-sm">
            <a routerLink="/salaries" role="button" class="btn btn-outline-primary btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>Salaries
            </a>
        </div>
    </div>
</div>